.fundo {
    background: linear-gradient(#800000,black); 
    min-height: 100vh; 
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.autor {
    color: #FFD700; 
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.imgContainer {
    display: flex;
    justify-content: center;
}

.imgContainer img {
    max-width: 300px;
    border-radius: 10px;
}


.bio {
    color: #ffffff;
    line-height: 1.6;
    margin-top: 20px;
}
