.onde ul {
    display: flex;              
    justify-content: center;    
    gap: 70px;                  
    list-style: none;           
    padding: 0;
    margin: 0;
    background-color: black;
}

.onde li a {
    text-decoration: none;      
    color: #FFD700;            
}
