.onde ul {
    display: flex;              /* coloca os links na horizontal */
    justify-content: center;    /* centraliza os links */
    gap: 30px;                  /* espaço entre os links */
    list-style: none;           /* tira os bullets */
    padding: 0;
    margin: 0;
    background-color: black;
}

.onde li a {
    text-decoration: none;      
    color: #FFD700;            
}
