.cabecalho{
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 90px;
    display: flex;
    justify-content: center;
    padding-top: 13px;
}