.titulo{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 50px;
}

.container {
    padding-top: 50px; 
    text-align: center; 
}

